body{
    margin: 0;
    padding: 0;
}

main{
    padding: 16px
}

footer{
    background-color: darkseagreen;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 0;
    font-size: 120%;
}


img{
    height: 200px;
}

nav{
    background-color: coral;
    border-bottom: 1px solid;
    border-bottom-color: black;
    padding: 16px;
}

#nav-letter{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

#h1{
    color: rgba(56, 219, 7, 0.993);
}

.main>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 25px;
}

.dish-name a{
    color: green;
}

tr:nth-child(even) {
    background-color: darkgray;
}
